@font-face {
  font-family: 'fontello';
  src: url('fontello-5.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;

  display: inline-block;
  text-decoration: inherit;

  /* opacity: .8; */

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;



  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */

  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-security-on:before { content: '\e800'; } /* '' */
.icon-security-off:before { content: '\e801'; } /* '' */
.icon-locked:before { content: '\e802'; } /* '' */
.icon-toggle-off:before { content: '\e803'; } /* '' */
.icon-privacy-on:before { content: '\e804'; } /* '' */
.icon-toggle-on:before { content: '\e805'; } /* '' */
.icon-dot:before { content: '\e806'; } /* '' */
.icon-privacy-off:before { content: '\e807'; } /* '' */
