html {
  margin: 0;
  padding: 0;
}
body {
  background-color: #fff;
  padding: 0 7px 0 0; /* android */
  margin: 7px 0 7px 7px;
  min-width: 500px;
}
body, table, button {
  font-family: sans-serif;
  font-size: 12px;
  color: #444;
}
table {
  vertical-align: middle;
  border-collapse: collapse;
  width: 100%;
}
h1 {
  font-size: 100%;
  margin: 0;
}

button {
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 3px;
  margin: 0;
  cursor: pointer;
}
button:active {
  color: #888;
}
.button {
  cursor: pointer;
  -moz-user-select: none;
}
.icon-toggle-off:before,
.icon-toggle-on:before,
.icon-locked:before {
  padding-right: 5px;
}

.pref {
  text-indent: 15px;
  position: relative;
}
.pref:before,  /* security */
.pref:after {  /* privacy */
  font-family: 'fontello';
  font-size: 90%;
  color: #fff;
  display: block;
  background-color: green;
  position: absolute;
  right: 10px;
  top: 0;
}
.pref:after {
  content: '\e804';
  width: 20px;
}
.pref:before {
  width: 18px;
  right: 32px;
  content: '\e800';
}

.pref[data-type=sp]:before{
  background-color: green;
}
.pref[data-type=sp]:after{
  background-color: green;
}
.pref[data-type=nsp]:before{
  background-color: red;
  content: '\e801';
}
.pref[data-type=nsp]:after{
  background-color: red;
  content: '\e807';
}
.pref[data-type=s]:before{
  background-color: green;
}
.pref[data-type=s]:after{
  visibility: hidden;
}
.pref[data-type=ns]:before{
  background-color: red;
  content: '\e801';
}
.pref[data-type=ns]:after{
  visibility: hidden;
}
.pref[data-type=p]:before{
  visibility: hidden;
}
.pref[data-type=p]:after{
  background-color: green;
}
.pref[data-type=np]:before{
  visibility: hidden;
}
.pref[data-type=np]:after{
  background-color: red;
  content: '\e807';
}
.pref[data-type=snp]:before{
  background-color: green;
}
.pref[data-type=snp]:after{
  background-color: red;
  content: '\e807';
}
.pref[data-type=pns]:before{
  background-color: red;
  content: '\e801';
}
.pref[data-type=pns]:after{
  background-color: green;
}

#list table td {
  white-space: nowrap;
}
#list td:first-child {
  text-indent: 5px;
}
#list table td:last-child {
  width: 1%;
}

#list>tbody>tr:nth-child(odd) {
  background-color: #eee;
}
#list>tbody>tr tr:hover {
  background-color: #d3e6f3;
}

#toolbar {
  margin-top: 10px;
}
