html {
  margin: 0;
  padding: 0;
}
body {
  background-color: #fff;
  padding: 0 7px 0 0; /* android */
  margin: 7px 0 7px 7px;
  min-width: 500px;
}
body, table, button {
  font-family: sans-serif;
  font-size: 12px;
  color: #444;
}
table {
  vertical-align: middle;
  border-collapse: collapse;
  width: 100%;
}
h1 {
  font-size: 100%;
  margin: 0;
}

button {
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 3px;
  margin: 0;
  cursor: pointer;
}
button:active {
  color: #888;
}
.button {
  cursor: pointer;
  -moz-user-select: none;
}
.icon-toggle-off:before,
.icon-toggle-on:before,
.icon-locked:before {
  padding-right: 5px;
}

.pref {
  text-indent: 15px;
  position: relative;
}
.pref:after {
  font-family: 'fontello';
  font-size: 80%;
  content: '\e800';
  color: green;
  display: block;
  width: 30px;
  position: absolute;
  right: 0;
  top: 0;
  opacity: 0.5;
  text-align: center;
}
.pref[safe=false]:after{
  content: '\e806';
  color: red;
}

#list table td {
  white-space: nowrap;
}
#list td:first-child {
  text-indent: 5px;
}
#list table td:last-child {
  width: 1%;
}

#list>tbody>tr:nth-child(odd) {
  background-color: #eee;
}
#list>tbody>tr tr:hover {
  background-color: #d3e6f3;
}

#toolbar {
  margin-top: 10px;
}
